# MySQL
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=your_db_name
MYSQL_USER=your_db_user
MYSQL_PASSWORD=your_db_user_password

# Django
DJANGO_DEBUG=False
DJANGO_SUPERUSER_NAME=your_django_admin
DJANGO_SUPERUSER_PASSWORD=your_django_admin_password

